@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    
    transition: all .3s;

}

body {
    background-color: rgba(52, 55, 65);
    width: 100%;
    height: 100vh;

    font-family: 'Ubuntu', sans-serif;
}

.main-container {
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container .background {
    position: fixed;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;

    filter: blur(2px) opacity(.5);
    -webkit-filter: blur(2px) opacity(.5);

    width: 100%;
    height: 100%;
}

.main-content {
    position: absolute;
    z-index: 999;

    background-color: rgba(255, 255, 255, 1);
    min-width: 10px;
    min-height: 620px;
    border-radius: 1px;
    border-radius: 10px;
}

.content-margin {
    margin: 30px;
}

input[type=text], [type=email], [type=password]{
    background-color: rgba(238, 238, 238, 0.4);
    border: none;
    border-bottom: 1px solid rgb(139, 139, 139);

    padding: 7px 0px;
    margin-top: 10px;
}

.main-content .title {
    padding: 40px;
    font-size: 30px;
    text-align: center;
}

.main-content .name{
    display: flex;
    padding-bottom: 20px;
}

.main-content .name .fname{
    width: 100%;
}

.main-content .name .lname{
    width: 100%;
    padding-left: 10px;
}

.main-content .name input{
    width: 100%;
}

.main-content .email{
    padding-bottom: 30px;
}

.main-content .email input{
    width: 100%;
}

.main-content .password{
    padding-bottom: 30px;
}

.main-content .password input{
    width: 100%;
}

.main-content .genre{
    display: flex;
    align-items: flex-start;

    padding-bottom: 20px;
}

.main-content .genre .genreType{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.main-content .list{
    display: flex;

    padding-bottom: 40px;
}

.main-content .list select{
    text-align: center;
    flex-grow: 1;
    margin-left:5px;
}

.main-content .textarea {
    padding-bottom: 20px;
}

.main-content .textarea textarea{
    width: 100%;
    height: 100%;
    
    min-width: 100%;

    display: flex;

    background-color: rgba(238, 238, 238, 0.4);
    border: none;
    border-bottom: 1px solid rgb(139, 139, 139);
}

.main-container .checkbox {
    padding-bottom: 20px;
}

.main-container .checkbox input {
    margin: 5px 10px;
}

.main-container .checkbox p {
    color: rgb(49, 49, 49);
    font-size: 18px;
    text-decoration: none;
}

.main-container .checkbox a {
    color: #0645ad;
    text-decoration: none;
}

.main-container .checkbox a:hover {
    text-decoration: underline;
}

.main-container .checkbox a:visited {
    color: rgba(86, 26, 139);
}

.main-container .button {
    display: flex;
}

.main-container .button input{
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    flex-grow: 1;
    margin: 0 10px;

    transition: all .3s;
}

.main-container .button input:hover{
    cursor: pointer;
    transition: all .3s;
}

.main-container .button #submit{
    background: #28a746ce;
}

.main-container .button #reset{
    background: #dc3546d5;
}

@media screen and (max-width: 480px){
    .main-content {
        top: 0;
        width: 100%;
        min-height: 100vh;
        height: auto;
        
        padding: 0;
        border-radius: 0;

        background-color: rgba(255, 255, 255, .8);
    }

    .main-container .checkbox input {
        margin: 5px 6px;
    }
    
    .main-content .name {
        flex-direction: column;
    }
    
    .main-content .name .lname{
        padding-top: 10px;
        padding-left: 0px;
    }

    .main-content .textarea textarea{
        max-height: 120px;
        max-width: 100%;
    }

    .main-container .button {
        flex-direction: column;
    }

    .main-container .button input{
        margin: 10px 0 0 0;
    }
    
}





